{% extends 'inmuebles/base.html' %}
{% load static %}

<ul class="nav__list">
{% block ul %} 
    <li class="nav__item"><a href="#home" class="nav__link active">Principal</a></li> 
{% endblock %}
</ul>

{% block content %}

<main class="l-main">
  <!--===== HOME =====-->
  <section class="home" id="home">
      <div class="home__container bd-grid"><br><br>
          <h1 class="home__title"><span>Somos RentaHouse!!</span></h1>
          <img src="{% static 'images/perfilo.png' %}" alt="">
          
      </div>
  </section>
</main>

<div class="container py-4">
    <div class="row row-cols-1 row-cols-md-2">
    {% for inmueble in inmuebles %}
     {% if inmueble.posting == 'Oficina' %}
    <div class="col mb-4">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" src="{{inmueble.image.url}}" alt="">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title"> {{ inmueble.tipo }}</h4>
          <h4 class="card-title"> {{ inmueble.tipo }}</h4>
          <p class="card-text">{{ inmueble.description }}</p>
          <a href="{% url 'detalle' inmueble.id %}" class="btn btn-primary btn-md">Ver más Fotos</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    
</div>
    {% endblock %}

