{% extends 'inmuebles/base.html' %}
{% load static %}
{% block content %}

    {% load inmuebles_extras %} 

    <form method="GET" action="">
        {{ filtered_inmuebles.form.as_table }}
        <br>
        <input type="submit" value="press">
    </form>
    {%  for inmueble in inmueble_page_obj %}
       <h2>
           {{ inmueble.tipo }}
           <br>
           {{ inmueble.edo }}
           <br>
           {{ inmueble.description }}
           <br>
           <!-- <img  src="media/{{ inmueble.image }}" > # creo que falta static -->
           <img  src="{{ inmueble.image.url }}">
           <br>
           <a href="{% url 'detalle' inmueble.id %}" class="btn btn-primary btn-md">Read more</a>
       </h2>
    {% endfor %}
    <div class="pagination">
     <span class="step-links">
      {% if inmueble_page_obj.has_previous %}
        <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
        <a href="{% my_url inmueble_page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
      {% endif %}

        <span class="current">
            Page {{ inmueble_page_obj.number }} of {{ inmueble_page_obj.paginator.num_pages }}
        </span>

       {% if inmueble_page_obj.has_next %}
          <a href="{% my_url inmueble_page_obj.next_page_number 'page' request.GET.urlencode %}"> Next</a>
          <a href="{% my_url inmueble_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo; Last</a>
       {% endif %}
     </span>
    </div>
    {% endblock %}


